<template>
	<div class="contact-form">
		<div class="contact-form__container">
			<div class="contact-form__title">Contact</div>
			<form :action="formAction" :method="formMethod">
				<table class="contact-form__table">
					<tbody>
						<tr class="contact-form__table-row">
							<td class="contact-form__table-cell contact-form__table-cell--left">
								<label class="contact-form__input-label" for="naam">Naam:</label>
							</td>
							<td class="contact-form__table-cell contact-form__table-cell--right">
								<input class="contact-form__input" type="text" id="naam" name="naam" placeholder="Uw naam" required>
							</td>
						</tr>
						<tr class="contact-form__table-row">
							<td class="contact-form__table-cell contact-form__table-cell--left">
								<label class="contact-form__input-label" for="email">E-mail:</label>
							</td>
							<td class="contact-form__table-cell contact-form__table-cell--right">
								<input class="contact-form__input" type="email" id="email" name="email" placeholder="email@email.com" required>
							</td>
						</tr>
						<tr class="contact-form__table-row">
							<td class="contact-form__table-cell contact-form__table-cell--left">
								<label class="contact-form__input-label" for="bericht">Bericht:</label>
							</td>
							<td class="contact-form__table-cell contact-form__table-cell--right">
								<textarea class="contact-form__input" name="bericht" rows="5" id="bericht" placeholder="Uw bericht." required></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<input class="contact-form__button" type="submit" value="Verzend">
	</div>
</template>

<script>
export default {
	name: 'ContactForm',
	setup() {
		const formAction = process.env.VUE_APP_FORM_ACTION;
		const formMethod = 'post';

		return {
			formAction,
			formMethod,
		}
	}
}
</script>

<style lang="scss">
	.contact-form {
		max-width: fit-content;
		margin-top: 24px;

		&__container {
			background-color: var(--background-color);
			border: 2px solid var(--lime);
			padding: 20px 12px 10px;
			position: relative;
		}

		&__title {
			color: var(--background-color);
			background-color: var(--green);
			font-size: 24px;
			font-weight: 700;
			border: 2px solid var(--lime);
			display: inline;
			position: absolute;
			top: -16px;
		}

		&__table {
			background-color: var(--green);
			border: 2px solid var(--lime);
			border-collapse: collapse;
			width: 100%;
		}

		&__table-cell {
			border-bottom: 2px solid var(--lime);
			border-right: 2px solid var(--lime);

			&--left {
				width: 80px;
			}
		}

		&__input {
			background-color: var(--background-color);
			color: var(--lime);
			font-family: 'Courier New', Courier, monospace;
			width: 100%;
			border-style: none;
			font-size: 1rem;
			padding: 0;
		}

		&__input-label {
			font-size: 16px;
			font-weight: 700;
		}

		&__button {
            color: black;
            background-color: var(--green);
            border: 2px solid var(--lime);
            font-weight: bold;
            font-size: 16px;
			font-family: 'Courier New', Courier, monospace;
			margin: 16px auto;
			display: block;

			&:active {
				background-color: var(--lime);
			}
		}
	}
</style>