<template>
	<div :class="['nav-sub-menu-item', active ? 'active-sub' : '']">
		<div @click="toggle" class="nav-sub-menu-item__title">
			<div class="nav-sub-menu-item__arrow">►</div><div class="nav-sub-menu-item__text">{{ content.title }}</div>
		</div>
		<div :class="['nav-sub-menu-item__content', active ? '' : 'hidden-sub']">
			<img class="nav-sub-menu-item__image" :src="content.img" alt="image">
			<div class="nav-sub-menu-item__sub-title">{{ content.text }}</div>
		</div>
	</div>
</template>

<script>
import { ref } from 'vue';

export default {
	name: 'NavigationSubMenuItem',
	props: {
		content: Object
	},
	setup() {
		const active = ref(false);
		const toggle = () => {
			active.value = !active.value;
		}

		return {
			active,
			toggle,
		}
	}
}
</script>

<style lang="scss">
	.nav-sub-menu-item {
		&__arrow {
			transition: all 0.16s;
			height: 10px;
			aspect-ratio: 1;
		}

		&__title {
			border: 2px solid var(--lime);
			background-color: var(--green);
			padding: 6px;
			display: flex;
			gap: 8px;
			user-select: none;
		}

		&__content {
			border: 2px solid var(--lime);
			background-color: var(--green);
			padding: 6px;
		}

		&__image {
			width: 100%;
		}

		&__sub-title {
			width: 100%;
			text-align: center;
		}
	}

	.hidden-sub {
		display: none;
	}

	.active-sub {
		.nav-sub-menu-item__title {
			background-color: var(--dark-green);
		}

		.nav-sub-menu-item__arrow {
			transform: rotate(90deg);
		}
	}
</style>