<template>
	<div :class="['nav-menu-item', active ? 'active' : '']">
		<div @click="toggle" class="nav-menu-item__title">
			<div class="nav-menu-item__arrow">►</div><div class="nav-menu-item__text">{{ title }}</div>
		</div>
		<div :class="['nav-menu-item__content', active ? '' : 'hidden']">
			<div class="nav-menu-item__list" v-for="(content, key) in navContent" :key="key">
				<NavigationSubMenuItem :content="content"/>
			</div>
		</div>
	</div>
</template>

<script>
import { ref } from 'vue';
import NavigationSubMenuItem from '@/components/NavigationSubMenuItem.vue';

export default {
	name: 'NavigationMenuItem',
	props: {
		title: String,
		navContent: Object
	},
	components: {
		NavigationSubMenuItem
	},
	setup() {
		const active = ref(false);
		const toggle = () => {
			active.value = !active.value
		}

		return {
			active,
			toggle,
		}
	}
}
</script>

<style lang="scss">
	.nav-menu-item {
		&__title {
			width: 100%;
			border: 2px solid var(--lime);
			background-color: var(--green);
			padding: 6px;
			cursor: pointer;
			user-select: none;
			display: flex;
			box-sizing: border-box;
			
			@include for-size(desktop-up) {
				max-width: 200px;
			}
		}

		&__arrow {
			transition: all 0.16s;
		}

		&__text {
			margin-left: 8px;
		}

		&__content {
			cursor: pointer;
			
			@include for-size(desktop-up) {
				width: 500px;
				position: absolute;
				top: 0;
				left: 200px;
			}
		}
	}

	.hidden {
		display: none;
	}

	.active {
		.nav-menu-item__title {
			background-color: var(--dark-green);
		}

		.nav-menu-item__arrow {
			transform: rotate(90deg);
		}
	}
</style>