<template>
	<div class="nav-menu">
		<NavigationMenuItem v-for="(object, key) in navigationObject" :key="key" :title="object.name" :navContent="object.content"/>
	</div>
</template>

<script>
import { navigationObject } from '@/data/navigationObject.js';
import NavigationMenuItem from '@/components/NavigationMenuItem.vue';

export default {
	name: 'NavigationMenu',
	components: {
		NavigationMenuItem
	},
	setup() {
		return {
			navigationObject
		}
	}
}
</script>

<style lang="scss">
	.nav-menu {
		position: relative;
		margin: 16px;
		width: calc(100% - 32px);
		z-index: 999;

		@include for-size(desktop-up) {
			max-width: 720px;
		}
	}
</style>