<template>
	<div class="footer">
		<div class="footer__title">Laatst bijgewerkt: {{ label }}</div>
		<ul class="footer__list">
			<li v-for="(detail, key) in details" :key="key" class="footer__list-item">
				<span v-if="detail.label">{{ detail.label }}: </span>
				<template v-if="detail.value">
					<a v-if="detail.isLink" :href="`mailto:${detail.value}`">{{ detail.value }}</a>
					<span v-else>{{ detail.value }}</span>
				</template>
			</li>
		</ul>
		<div class="footer__bottom">
			<a v-for="(button, key) in buttons" :key="key" :href="button.url" class="footer__button" :title="button.title">
			<img :src="button.img" :alt="button.title" width="48" height="48"></a>
		</div>
	</div>
</template>

<script>
import bitcoinImg from "@/assets/Bitcoin.webp";
import facebookImg from "@/assets/facebook.svg";

export default {
	name: 'PageFooter',
	setup() {
		const label = process.env.VUE_APP_BUILD_DATE;
		const details = [
			{ label: '', value: process.env.VUE_APP_PROJECT_NAME, isLink: false },
			{ label: '', value: process.env.VUE_APP_FULL_NAME, isLink: false },
			{ label: '', value: `${process.env.VUE_APP_STREETNAME} ${process.env.VUE_APP_STREETNUMBER}`, isLink: false },
			{ label: '', value: `${process.env.VUE_APP_POSTAL_CODE} ${process.env.VUE_APP_CITY}`, isLink: false },
			{ label: 'Tel.', value: process.env.VUE_APP_PHONE, isLink: false },
			{ label: 'E-mail', value: process.env.VUE_APP_EMAIL, isLink: true },
			{ label: 'Btw-id', value: process.env.VUE_APP_VAT_NUMBER, isLink: false },
			{ label: 'KvK-nummer', value: process.env.VUE_APP_CRN_NUMBER, isLink: false },
		];
		const buttons = [
			{ ref: 'bitcoin', img: bitcoinImg, title: 'Accepteert Bitcoin', target: '', url: '' },
			{ ref: 'facebook', img: facebookImg, title: 'Volg mij op Facebook', target: '_blank', url: 'https://www.facebook.com/profile.php?id=100087781915706' },
		];

		return {
			label,
			details,
			buttons,
		}
	}
}
</script>

<style lang="scss">
	.footer {
		border-top: 2px solid var(--green);
		width: 100%;
		color: var(--green);
		display: flex;
		flex-direction: column;
		align-items: center;

		&__title {
			margin-top: 8px;
			margin-bottom: 16px;
		}

		&__bottom {
			display: flex;
			gap: 8px;
			margin-top: 16px;
		}

		&__button {
			display: block;
			width: 48px;
			aspect-ratio: 1;
			border-radius: 48px;
		}
	}
</style>