<template>
	<div class="app-view">
		<h1 class="title">{{ title }}</h1>
		<div class="sub-title">{{ subTitle }}</div>
		<NavigationMenu/>
		<ContactForm/>
		<PageFooter/>
	</div>
</template>

<script>
import NavigationMenu from './components/NavigationMenu.vue'
import ContactForm from './components/ContactForm.vue'
import PageFooter from './components/PageFooter.vue'

export default {
	name: 'App',
	components: {
		NavigationMenu,
		ContactForm,
		PageFooter,
	},
	setup() {
		const title = process.env.VUE_APP_PROJECT_NAME;
		const subTitle = 'Technische dienstverlening voor de podiumkunsten';

		return {
			title,
			subTitle,
		}
	}
}
</script>

<style lang="scss">
	@import '@/scss/reset.scss';

	body {
		background-color: var(--background-color);
		font-family: 'Courier New', Courier, monospace;
	}

	.app-view {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 700;
	}

	a {
		color: var(--lime);
		text-decoration: underline;
	}

	.title {
		color: var(--lime);
		font-weight: 100;
		font-size: 32px;
		margin-top: 8px;
	}

	.sub-title {
		color: var(--lime);
		font-weight: 100;
		font-size: 16px;
		margin-top: 8px;
		text-align: center;
	}
</style>
